form {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
}
#loading-layer {
  display:none;
  font-family:verdana;font-size: 11px;
  background:#000;padding:10px;
  text-align:center;
  border:1px solid #000;
  color: #FFF;
}

.findrelated {
  width:99%;
  background: #ffc;border:1px solid #9E9E9E;
  padding: 5px;margin-top: 7px;
  margin-right: 10px;
}

.title_quote {
  color: #636363;
  background-color: #f2f2f2;
  border: 1px dotted #bebebe;
  border-bottom: 0;
  font-weight: bold;
  padding: 5px;
}
.quote {
  color: #757575;
  background-color: #f2f2f2;
  border: 1px dotted #bebebe;
  text-align: justify;
  padding: 5px;
}

.title_spoiler {
  color: #636363;
  background-color: #f2f2f2;
  border: 1px dotted #bebebe;
  font-weight: bold;
  padding: 5px;
}
.text_spoiler {
  color: #757575;
  background-color: #f2f2f2;
  border: 1px dotted #bebebe;
  border-top: 0;
  text-align: justify;
  padding: 5px;
}

pre code { display: block; padding: 0.5em; background: #f9fafa; border: 1px solid #dce7e7; overflow:auto; white-space: pre; }

.hljs-comment, hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag, hljs-keyword, .hljs-formula {
  color: #a626a4;
}

.hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in, .hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr,
.hljs-selector-pseudo, .hljs-number {
  color: #986801;
}

.hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.editor_button {
  float: left;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
}
.editor_buttoncl {
  float: left;
  cursor: pointer;
  padding-left: 1px;
  padding-right: 1px;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
}
.editbclose {
  float: right;
  cursor: pointer;
}
.editor_button select {
  font-family: tahoma;
  font-size: 11px;
}
.editor_button img {margin: 0; padding: 0;}
.editbclose img {margin: 0; padding: 0;}
.editor_button_brk {margin: 0; padding: 0;}

.xfields textarea {
  color: #757575; /* ! */
  font-size: 11px; /* ! */
  font-family: tahoma; /* ! */
  background-repeat: repeat-x;
  width: 100%;
  height: 86px;
  border: 1px solid #e0e0e0;
}
.xfields input {
  color: #757575; /* ! */
  font-size: 11px; /* ! */
  font-family: tahoma; /* ! */

  width: 250px;
  height: 14px;
  border: 1px solid #e0e0e0;
}
.xfields select {
  color: #757575; /* ! */
  font-size: 11px; /* ! */
  font-family: tahoma; /* ! */
  border: 1px solid #e0e0e0;
}

.xprofile textarea {
  color: #757575; /* ! */
  font-size: 11px; /* ! */
  font-family: tahoma; /* ! */
  width: 316px;
  height: 86px;
  border: 1px solid #e0e0e0;
}
.xprofile input {
  color: #757575; /* ! */
  font-size: 11px; /* ! */
  font-family: tahoma; /* ! */
  width: 250px;
  height: 14px;
  border: 1px solid #e0e0e0;
}

#dropmenudiv {
  border: 1px solid #ffffff;
  border-bottom-width: 0;
  font: normal 10px Verdana;
  background-color: #6497ca;
  line-height: 20px;
  margin: 2px;
  opacity: 0.95;
}

#dropmenudiv a {
  display: block;
  text-indent: 3px;
  text-decoration:none;
  color: #ffffff;
  background-color: #6497ca;
  border: 1px solid #ffffff;
  padding: 1px 0;
  margin: 1px;
  font-weight: bold;
}

#dropmenudiv a:hover {
  background:#fdd08b;
  color:#000000;
}

.vote {
  color: #757575;
}

#newpm {
  position: absolute;
  width: 400px;
  padding: 4px;
  background-color: #fdfdfd;
  border: 1px solid #bbbbbb;
  font-family: verdana;
  line-height: 135%;
}
#newpmheader {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  height: 20px;
  color: #636363;
  font-weight: bold;
  background-color: #b2c7f1;
  font-family: verdana;
  cursor: move;
}
#newpm a {
  background: transparent;
  color: #4b73d4;
  text-decoration: none;
}
#newpm a:hover {
  background: transparent;
  color: #4b73d4;
  text-decoration: underline;
}

.attachment {
  color: #808080;
}

.search {
  color: #757575;
  text-decoration: none;
}
.textin { text-decoration: none; }
.sresult {
  text-align: justify;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px;
  color: #757575;
}

fieldset {
  border: 1px solid #e0e0e0;
  padding: 5px;
  text-align: left;
  font-size: 11px; /* ! */
  font-family: tahoma; /* ! */
}

.highslide-wrapper, .highslide-outline { background: #fff }
.highslide-image { border: 2px solid #fff }
.highslide-active-anchor { visibility: hidden }
.highslide-active-anchor img { visibility: hidden }
.highslide-dimming { background-color: black }
.highslide-html { background-color: white }
.highslide-loading { display: block; color: white; font-size: 9px; font-weight: bold; text-decoration: none; padding: 3px; border: 1px solid white; background-color: black }
a.highslide-full-expand { background: url(../dleimages/fullexpand.gif) no-repeat; display: block; margin: 0 10px 10px 0; width: 34px; height: 34px }
.highslide-display-block { display: block }
.highslide-display-none { display: none }
.highslide-caption { display: none; padding: 5px; background: white }
.highslide-controls { width: 195px; height: 40px; background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) no-repeat 0 -90px; margin-right: 15px; margin-bottom: 10px; margin-top: 10px }
.highslide-controls ul { position: relative; left: 15px; height: 40px; list-style: none; margin: 0; padding: 0; background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) no-repeat 100% -90px }
.highslide-controls li { float: left; padding: 5px 0; }
.highslide-controls a { background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif); display: block; float: left; height: 30px; width: 30px; outline: none }
.highslide-controls a.disabled { cursor: default }
.highslide-controls a span { display: none }

.highslide-controls .highslide-previous a { background-position: 0 0 }
.highslide-controls .highslide-previous a:hover { background-position: 0 -30px }
.highslide-controls .highslide-previous a.disabled { background-position: 0 -60px !important }
.highslide-controls .highslide-play a { background-position: -30px 0 }
.highslide-controls .highslide-play a:hover { background-position: -30px -30px }
.highslide-controls .highslide-play a.disabled { background-position: -30px -60px !important }
.highslide-controls .highslide-pause a { background-position: -60px 0 }
.highslide-controls .highslide-pause a:hover { background-position: -60px -30px }
.highslide-controls .highslide-next a { background-position: -90px 0 }
.highslide-controls .highslide-next a:hover { background-position: -90px -30px }
.highslide-controls .highslide-next a.disabled { background-position: -90px -60px !important }
.highslide-controls .highslide-move a { background-position: -120px 0 }
.highslide-controls .highslide-move a:hover { background-position: -120px -30px }
.highslide-controls .highslide-full-expand a { background-position: -150px 0 }
.highslide-controls .highslide-full-expand a:hover { background-position: -150px -30px }
.highslide-controls .highslide-full-expand a.disabled { background-position: -150px -60px !important }
.highslide-controls .highslide-close a { background-position: -180px 0 }
.highslide-controls .highslide-close a:hover { background-position: -180px -30px }

.comments-tree-list { display: block; margin: 0; padding: 0; list-style: none; }

.comments-tree-list .comments-tree-list { padding-left: 10px; }

.comments-tree-item { display: block; margin: 0; padding: 0; }

#dlefastreplycomments { padding: 5px; background: #e4ecf0; margin: 5px 5px 5px 10px; }

.commentsreplyname { padding: 2px; border: 1px solid #bcc0c2; width: 200px; }

.clouds_xsmall { font-size: x-small; }
.clouds_small { font-size: small; }
.clouds_medium { font-size: medium; }
.clouds_large { font-size: large; }
.clouds_xlarge { font-size: x-large; }
